body {
	--color-text: #fff;
	--color-bg: #000;
	--color-link: #fff;
	--color-link-hover: #ac1122;
	--color-info: #ac1122;
	--color-title: #fff;
	--color-subtitle: #fff;
	--color-subtitle-bg: #ac1122;
}

.content__title {
	font-family: 'Playfair Display', serif;
	font-size: 10vw;
	font-weight: normal;
	color: var(--color-title);
	text-align: center;
	margin: 0;
	pointer-events: none;
}

.content__subtitle {
	font-size: 1.25em;
	background: var(--color-subtitle-bg);
	color: var(--color-subtitle);
	padding: 0.45em 0.5em;
	line-height: 1;
	letter-spacing: 0.5em;
	text-indent: 0.5em;
	font-weight: bold;
	text-transform: uppercase;
}

@media screen and (max-width: 55em) {
	.content__title {
		font-size: 3em;
	}
	.content__subtitle {
		font-size: 0.85em;
	}
}


.scroll-indicator {
	width: 18px;
	margin: 0 auto;
	position: absolute;
	opacity: .9;
	bottom: 10vh;
	right: 20px;
}
.scroll-indicator::before, .scroll-indicator::after {
	content: "";
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.scroll-indicator::before {
	width: 12px;
	height: 12px;
	border-radius: 10px;
	border: 1px solid #fff;
	-webkit-animation: dot 3s infinite ease-in-out;
	animation: dot 3s infinite ease-in-out;
}
.scroll-indicator::after {
	width: 7px;
	height: 7px;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-animation: arrow 3s infinite ease-in-out;
	animation: arrow 3s infinite ease-in-out;
	-webkit-animation-delay: 0.75s;
	animation-delay: 0.75s;
	opacity: 0.25;
}
.scroll-indicator > div {
	display: block;
}
.scroll-indicator > div::before, .scroll-indicator > div::after {
	content: "";
	display: block;
	margin: 5px auto;
	border-radius: 10px;
	border: 1px solid #fff;
	-webkit-animation: dot 3s infinite ease-in-out;
	animation: dot 3s infinite ease-in-out;
}
.scroll-indicator > div::before {
	width: 8px;
	height: 8px;
	-webkit-animation-delay: 0.25s;
	animation-delay: 0.25s;
}
.scroll-indicator > div::after {
	width: 6px;
	height: 6px;
	-webkit-animation-delay: 0.5s;
	animation-delay: 0.5s;
}

@-webkit-keyframes dot {
	0% {
		-webkit-transform: scale(0.75);
		transform: scale(0.75);
		opacity: 0.25;
	}
	25% {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 1;
	}
	100% {
		-webkit-transform: scale(0.75);
		transform: scale(0.75);
		opacity: 0.25;
	}
}

@keyframes dot {
	0% {
		-webkit-transform: scale(0.75);
		transform: scale(0.75);
		opacity: 0.25;
	}
	25% {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 1;
	}
	100% {
		-webkit-transform: scale(0.75);
		transform: scale(0.75);
		opacity: 0.25;
	}
}
@-webkit-keyframes arrow {
	0% {
		-webkit-transform: scale(0.75) rotate(45deg);
		transform: scale(0.75) rotate(45deg);
		opacity: 0.25;
	}
	25% {
		-webkit-transform: scale(1) rotate(45deg);
		transform: scale(1) rotate(45deg);
		opacity: 1;
	}
	100% {
		-webkit-transform: scale(0.75) rotate(45deg);
		transform: scale(0.75) rotate(45deg);
		opacity: 0.25;
	}
}
@keyframes arrow {
	0% {
		-webkit-transform: scale(0.75) rotate(45deg);
		transform: scale(0.75) rotate(45deg);
		opacity: 0.25;
	}
	25% {
		-webkit-transform: scale(1) rotate(45deg);
		transform: scale(1) rotate(45deg);
		opacity: 1;
	}
	100% {
		-webkit-transform: scale(0.75) rotate(45deg);
		transform: scale(0.75) rotate(45deg);
		opacity: 0.25;
	}
}

